#contenedor{
    text-align: center;
	font-size: calc(1em + 1vw);
	font-family: sans-serif; 
	font-size: 18px; 
	font-weight: 400; 
	color: #ffffff; 
	background:#104b55; 
	
    
  }
  @media (max-width:180px){
	.bajar{
	  font-size: x-large;
	  bottom: 50px;
	  span.phone::before { content: '\A'; white-space: pre;}
	}
}
  @media (max-width:320px){
  .bajar{
	font-size: large;
	bottom: 50px;
	span.phone::before { content: '\A'; white-space: pre;}
  }
  
}
@media (max-width:780px){
	.bajar{
		font-size: small;
		bottom: -50px;
}
}
  .titulo{

	text-align: center;
	font-size: 15px;
	font-family: sans-serif; 
	font-size: 18px; 
	font-weight: 400; 
	color: #ffffff; 
	background:#000000 
  }

  .img {
    padding: 15px 10px 5px 10px;
    margin: 2px;
    float: right;
    width: 100px;
    text-align: center;
    
  }
 
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: right;
}
.ec-stars-wrapper a {
    text-align: right;
	text-decoration: none;
	float: left;
	/* Volver a dar tamaño al texto */
	font-size: 10px;
	font-size: 1rem;
	
	color: rgb(212, 199, 12);
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: rgb(230, 226, 24);
}


ion-content{ --ion-background-color:#dfe6e4; }